<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Regression Suit2">

	<listeners>
		<listener class-name="com.alpharooms.customelistener.Listner"></listener>
	</listeners>
	<test name="Registration">
		<classes>
			<class name="com.alpharooms.testscripts.MyBookings">
				<methods>
					
					<include name="verifyMyBookingwithValidDetails" />
					
				</methods>
			</class>
		</classes>
	</test>
	<!-- <test name="RegistrationTest"> <classes> <class name="com.companyname.projectname.testscripts.Test1" 
		/> </classes> </test> -->
</suite> <!-- Suite -->
